* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 235, 235);
}

header {
    background-color: rgb(41, 91, 255);
    color: white;
    text-align: center;
    padding: 4rem;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("https://vojtech-m.github.io/img/front_page.jpg");
    height: 80%;
    min-height: 25%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: flex-end; 
    justify-content: center;
    align-content: center;
    
}


.hero-heading {
    font-size: 6vw;
    color: white;
    text-align: center; 
    padding: 8%;
    line-height: 0.01;
    padding-bottom:200px;
    text-shadow: 2px 2px 1px black; 
}

.hero-text {
    font-size: 3vw;
    color: #BBE1FA;
    padding: 0px 20px;
    margin: 0%;
    text-align: right;
}




footer{
    margin-top: 10%;
    display:flex;
    justify-content: space-around;
    color: white;
    background-color: #0F4C75;
    padding: 2rem;

}

article {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    flex-wrap: wrap; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px auto; 
}

.left-text, .right-text {
    flex: 1;
    margin: 0 20px; 
    padding: 20px;
    text-align: justify;
}
