* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
}
body {
    background-color: rgb(235, 235, 235);
}

header {
    background-color: rgb(41, 91, 255);
    color: white;
    text-align: center;
    padding: 4rem;
}

#front_page_image {
width: 100%;
max-height: 20%;

}