* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
}
body {
    background-color: rgb(235, 235, 235);
}

header {
    background-color: rgb(43, 1, 197);
    color: white;
    text-align: center;
    padding: 4rem;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("https://vojtech-m.github.io/img/front_page.jpg");
    height: 50%;
    min-height: 15%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: flex-end; 
    justify-content: center;
    align-content: center;
    
}
.hero-heading {
    font-size: 6vw;
    color: white;
    text-align: center; 
    padding: 8%;
    line-height: 0.01;
    padding-bottom:200px;
    text-shadow: 2px 2px 1px black; 
}

.hero-text {
    font-size: 3vw;
    color: #BBE1FA;
    padding: 0px 20px;
    margin: 0%;
    text-align: right;
}